@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.full-page{
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: rgb(233, 238, 238);
}

.page-left-border{
    width: 400px;
    background-image: url("img/background.jpg");

}

.logo{
    display: flex;
    width: 400px;
    height: 100px;
    background-color:rgba(0,0,0,0.5);
    margin-top: 200px;
    justify-content: center;
    
    
}

.logo h1{
    color: white;
    font-family: "norsebold";
    
}

.first-section {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.first-section p{
    font-weight:bold;
    font-size: large;
}

.second-section{
    margin-top: 30px;
    height: 300px;
    background-color: white;
}

.second-section p{
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
    margin-left: 50px;
}

.second-section form{
    
    display: flex;
    justify-content:flex-start;
    margin-left: 50px;
    margin-right: 50px;

}

.second-section .left-inputs{
    
}

.label {
    display: block;
    width: 50%;
    padding: 5px;
}
input{
    display: block;
    width: 50%;
}



.third-section{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

button{
    background-color: #596D48;
    color: white;
}






